<h1 mat-dialog-title>Bekräfta borttagning av användare</h1>

<div mat-dialog-content>

<p>Är du säker på att du vill ta bort användaren {{user.user}}?</p>
<p>Efter det kommer {{user.name}} inte att kunna logga in. </p>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>avbryt</button>
  <button mat-button [mat-dialog-close]="true">ta bort användaren</button>
</div>