<div *ngIf="loginState == LoginState.LoggedOut">
  Logga in först
</div>

<div *ngIf=" loginState == LoginState.NotAuthorized ">
  Du saknar behörighet för denna sidan.
</div>

<div *ngIf=" loginState == LoginState.Authorized ">
  <h3> Alla användarkonton i systemet </h3>
  <holmby-user-table [users]="users$|async" [currentUser]="currentUser" [userPrivileges]="userPrivileges$|async" (deleteUser)="onDeleteUser($event)"></holmby-user-table>

  <mat-chip-list>
    <mat-chip color="warn" selected *ngIf="errorMessage"> {{errorMessage}} </mat-chip>
    <mat-chip color="primary" selected *ngIf="message"> {{message}}</mat-chip>
  </mat-chip-list>
</div>