<h1 mat-dialog-title>Glömt Ditt Lösenord?</h1>

<div mat-dialog-content>

  <div *ngIf="!success">
    <p>Skriv in din e-postadress nedan och klicka på skicka. 
    <p>Du kommer få en länk till din e-postadress för att återställa ditt lösenord.

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="e-postadress" formControlName="email" required>
        <mat-error>obligatorisk uppgift</mat-error>
      </mat-form-field>
    </form>
  </div>

  <mat-chip-list>
    <mat-chip color="warn" selected *ngIf="errorText"> {{errorText}} </mat-chip>

    <mat-chip color="primary" selected *ngIf="success"> Om det finns ett konto associerat till {{form.value.email}}, så har en länk för att återställa lösenordet skickats till den e-postadressen.</mat-chip>
  </mat-chip-list>

</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] tabindex="-1">avbryt</button>
  <button mat-button (click)="onSubmit()" *ngIf="!success" tabindex="3">{{(formIsSent)? 'vänta, bearbetar' : 'skicka'}}</button>
  <button mat-button (click)="onSubmit()" *ngIf="success" tabindex="3">{{(formIsSent)? 'vänta, bearbetar' : 'skicka igen'}}</button>
</div>
