<h1 mat-dialog-title>Logga in</h1>

<div mat-dialog-content>

  <form (ngSubmit)="login(data)" #loginForm="ngForm">
    <mat-form-field>
      <input (keyup.enter)="login(data)" matInput tabindex="1" placeholder="{{config.text.loginUser}}" name="user" [(ngModel)]="data.username">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input (keyup.enter)="login(data)" type="password" matInput tabindex="2"  name="password" placeholder="{{config.text.loginPassword}}" [(ngModel)]="data.password">
    </mat-form-field>
  </form>

  <div *ngIf="errorText" style="color:red"> {{errorText}} </div>

<a href="#dummy-url" (click)="onForgotPassword($event)">Glömt lösenordet?</a>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] tabindex="-1">avbryt</button>
  <button mat-button (click)="login(data)" tabindex="3">logga in</button>
</div>
