<mat-menu #holmbyAuthMenu="matMenu">
  <button mat-menu-item disabled> todo: byt lösenord </button>
  <button mat-menu-item (click)="logout()"> logga ut </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="holmbyAuthMenu" *ngIf="user;then logged_in else not_logged_in"></button>

<ng-template #logged_in >
  <span  [matMenuTriggerFor]="userMenu">{{ (user.name || 'internal error in holmby-auth-menu') }}</span>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()"> logga ut </button>
  </mat-menu>
</ng-template>

<ng-template #not_logged_in >

  <span (click)="openLoginDialog()">Logga in</span>

</ng-template>
