<h1 mat-dialog-title>Automatisk utloggning</h1>

<div mat-dialog-content>
  Du kommer att bli automatiskt utloggad inom 5 minuter på grund av inaktivitet.
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] tabindex="-1">stanna inloggad</button>
</div>
