<div *ngIf="loginState == LoginState.LoggedOut">
  Logga in först
</div>

<div *ngIf=" loginState == LoginState.NotAuthorized ">
  Du saknar behörighet för denna sidan.
</div>

<div *ngIf=" loginState == LoginState.Authorized ">
  <h3>  Skapa konto </h3>
  <p>Efter att konto har skapats kan användaren välja lösenord genom att följa länken "glömt lösenordet?" på sidan för inloggning.

  <form #form="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <mat-divider></mat-divider>
    <h4>användaruppgifter</h4>
    <mat-form-field>
      <input matInput placeholder="Användarnamn" formControlName="user" required>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field>
      <input matInput placeholder="Namn" formControlName="name" required>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" required>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>
    <h4>behörigheter</h4>
    <div formGroupName="priv">
      <div *ngFor="let priv of allPrivileges; let i=index">
        <mat-checkbox matTooltip="{{priv.description}}" [formControlName]="priv.privilege">{{priv.privilege}}</mat-checkbox>
      </div>
    </div>

    <br>
    <button mat-raised-button [disabled]="formIsSent">{{(formIsSent)? 'vänta, bearbetar' : 'skapa ny användare'}}</button>
  </form>

</div>

<mat-chip-list>
  <mat-chip color="warn" selected *ngIf="errorMessage"> {{errorMessage}} </mat-chip>
  <mat-chip color="primary" selected *ngIf="success"> {{successMessage}}</mat-chip>
</mat-chip-list>
