<h3>  Byt lösenord </h3>

<div *ngIf="token && !validToken">
  Länken har upphört att gälla. Begär en ny för att byta lösenordet.
</div>

<div *ngIf="!token && !(loggedinUser$|async)">
  Logga in först.
</div>

<div *ngIf="(validToken) && !success">

  Välj ett nytt lösenord för {{name}} ({{email}}).
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="Nytt Lösenord" formControlName="password" type="password" required>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field>
      <input matInput placeholder="Bekräfta Nytt Lösenord" formControlName="confirmPassword" type="password">
      <mat-error>{{(passwordForm.controls.confirmPassword.errors?.MatchPassword) ? "matchar inte" : "obligatorisk uppgift" }}</mat-error>
    </mat-form-field>
  
    <br>
    <button mat-raised-button [disabled]="formIsSent">{{(formIsSent)? 'vänta, bearbetar' : 'byt lösenord'}}</button>
  </form>
  
</div>

<mat-chip-list>
  <mat-chip color="warn" selected *ngIf="errorMessage"> {{errorMessage}} </mat-chip>
  <mat-chip color="primary" selected *ngIf="success"> Lösenordet har uppdaterats</mat-chip>
</mat-chip-list>

