/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

@import '~@angular/material/theming';
// Plus imports for other components in your app.

body{
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    margin: 0;
}

.air-warn{
  color: red;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$air-app-primary: mat-palette($mat-blue);
$air-app-accent:  mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$air-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$air-app-theme: mat-light-theme($air-app-primary, $air-app-accent, $air-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($air-app-theme);