<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <!-- User Column -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> Användare </th>
    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Namn </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Privilege Column -->
  <ng-container matColumnDef="privilege">
    <th mat-header-cell *matHeaderCellDef> Behörigheter </th>
    <td mat-cell *matCellDef="let element"> {{getPrivileges(element.user)}} </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Ta bort kontot </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;" > <mat-icon *ngIf="currentUser.user!=element.user" (click)="onDeleteUser(element)">delete</mat-icon> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>